<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Repositorio de Github
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Repositorio de Github</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content-container">
    <img src="https://avatars.githubusercontent.com/u/133397877?v=4" alt="Descripción de la imagen" class="tab-image" />
    <br>
    <ion-button color="dark">
      <a href="https://github.com/DilanBedoya/Prueba_Ionic" target="_blank" class="github-link" style="color: white;">
        Ver repositorio en GitHub
      </a>
    </ion-button>

  </div>

</ion-content>